{% extends 'core/base2.html' %}
{% block title %}
Address
{% endblock title %}
{% block body %} {% load static %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Your Address</h4>
            <p class="card-category">Complete your Address</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">

                {% for address in address %}
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Address</label>
                    <p class="form-control">{{address.address}}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Mobile</label>
                    <p class="form-control">{{address.mobile}}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Postal Code</label>
                    <p class="form-control">{{address.postal_code}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">City</label>
                    <p class="form-control">{{address.city}}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Country</label>
                    <p class="form-control">{{address.country}}</p>
                  </div>
                </div>
              </div>

              {%endfor%}


              {% if address %}
              <a href="{% url 'update-address' %}" class="btn btn-primary pull-right">
                Edit Address
              </a>
              {% else %}
              <a href="{% url 'add-address' %}" class="btn btn-primary pull-right">
                Create Address
              </a>
              {% endif %}
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            {% for p in profile %}

            {% if p.image %}


            <img class="img" src="{{p.image.url}}" />
            {% else %}
            <img class="img"
              src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.hudl.com%2Fprofile%2F5499830&psig=AOvVaw0TpLHiKIukyCX3VQ16OIei&ust=1683145611167000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCODGy5S81_4CFQAAAAAdAAAAABAE" />
            {% endif %}
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{p.user.bio}}</h6>
            <h4 class="card-title">{{p.first_name}} {{p.last_name}}</h4>
            <p class="card-description">
              {{p.bio}}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
