{% extends 'core/base2.html' %}
{% block title %}

{{user}}

{% endblock title %}
{% block body %} {% load static %}
<link href="{{profile_all.image}}" rel="icon">
<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            {% for p in profile %}

            {% if p.image %}


            <img class="img" src="{{p.image.url}}" />
            {% else %}
            <img class="img"
              src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.hudl.com%2Fprofile%2F5499830&psig=AOvVaw0TpLHiKIukyCX3VQ16OIei&ust=1683145611167000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCODGy5S81_4CFQAAAAAdAAAAABAE" />
            {% endif %}
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{p.user.bio}}</h6>
            <h4 class="card-title">{{p.first_name}} {{p.last_name}}</h4>
            <p class="card-description">
              {{p.bio}}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Your Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    {% for address in address %}

                    <label class="bmd-label-floating">Mobile</label>
                    <p type="text" class="form-control">{{address.mobile}}</p>

                    {% endfor %}
                  </div>
                </div>
                {% for p in profile %}

                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Username</label>
                    <p class="form-control">{{p.user.username}}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email address</label>
                    <p class="form-control">{{p.user.email}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Fist Name</label>
                    <p class="form-control">{{p.first_name}}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <p class="form-control">{{p.last_name}}</p>
                  </div>
                </div>
              </div>

              {% endfor %}

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <div class="form-group">
                      <label class="bmd-label-floating">
                      </label>
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <a href="{% url 'update-profile' %}" class="btn btn-primary pull-right">
                Edit Profile
              </a>
              <a href="{% url 'userauths:change_password' %}" class="btn btn-primary pull-left">
                Change Password
              </a>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}