{% extends 'core/base.html' %}
{% block title %}
Edit Profile
{% endblock title %}

{% block body %}
<script>
  document.querySelector('#profile_form').addEventListener('submit', function (event) {
    console.log("error")
    var formInputs = document.querySelectorAll('#profile_form input[required], #profile_form textarea[required], #profile_form select[required]');

    var emptyFields = [];

    for (var i = 0; i < formInputs.length; i++) {
      if (!formInputs[i].value) {
        emptyFields.push(formInputs[i].name);
      }
    }

    if (emptyFields.length > 0) {
      event.preventDefault();

      var message = 'Please fill in the following fields:\n\n';
      message += emptyFields.join('\n');

      alert(message);
    }
  });
</script>

<section class="page-header parallaxie padding_top center-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-titles text-center">
          <h2 class="whitecolor font-light bottom30">Add Your Profile</h2>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--page Header-->

<!--page Header ends-->
<section id="our-blog" class="padding text-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="bglight logincontainer">
          <h3 class="darkcolor bottom35">Edit details</h3>
          <form method="post" id="profile_form" class="getin_form border-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12 col-sm-12">
              <div class="form-group bottom35">
                <label class="bmd-label-floating">First Name:</label>
                {% for p in profile %}
                <input required class="form-control" placeholder="First Name" type="text" id="first_name"
                  value="{{p.first_name}}" name="first_name">

              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group bottom35">
                <label class="bmd-label-floating">Last Name:</label>
                <input required class="form-control" type="text" id="last_name" value="{{p.last_name}}"
                  placeholder="Last Name" name="last_name">
              </div>
            </div>

            <div class="col-md-12 col-sm-12">
              <div class="form-group bottom35">
                <label class="bmd-label-floating">Profile Image:</label>
                <input class="form-control" placeholder="Choose an image" name="image" value="{{p.image.url}}"
                  type="file" id="image" onchange="previewImage()" accept=".jpg, .jpeg, .png">
                <br><img id="preview" src="{{p.image.url}}">
                <style>
                  #preview {
                    max-width: 300px;
                    max-height: 300px;
                    border-radius: 300px;
                  }
                </style>
                <script>
                  function previewImage() {
                    var preview = document.querySelector('#preview');
                    var file = document.querySelector('input[type=file]').files[0];
                    var reader = new FileReader();

                    reader.onloadend = function () {
                      preview.src = reader.result;
                    }

                    if (file) {
                      reader.readAsDataURL(file);
                    } else {
                      preview.src = "";
                    }
                  }
                </script>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group bottom35">
                <label class="bmd-label-floating">Bio:</label>
                <textarea required class="form-control" placeholder="Add Bio" id="bio" name="bio">{{p.bio}}</textarea>
              </div>
            </div>
            {% endfor %}
            <br>
            <button style="display: block; margin: 0 auto;" type="submit" class="button btnprimary" name="submit">Update
              Profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .form-control {
    border-radius: 20px;
  }
</style>

{% endblock body %}