{% extends 'core/base.html' %}
{% block title %}
Edit Address
{% endblock title %}

{% block body %}
<section class="page-header parallaxie padding_top center-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-titles text-center">
          <h2 class="whitecolor font-light bottom30">Edit Your Address</h2>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% for address in address %}
<!--page Header-->

<!--page Header ends-->
<section id="our-blog" class="padding text-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="bglight logincontainer">
          <h3 class="darkcolor bottom35">Update your address</h3>
          <form method="post" class="getin_form border-form">
            {% csrf_token %}
            <div class="col-md-12 col-sm-12">
              <div class="form-group bottom35">
                <label class="bmd-label-floating">Address</label>
                <input type="text" class="form-control" name="address" placeholder="Your Address"
                  value="  {{address.address}}" />
              </div>
            </div>
            <input type="hidden" name="previous_url" value="{{ request.META.HTTP_REFERER }}">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group bottom35">
                  <label class="bmd-label-floating">Mobile</label>
                  <input type="text" class="form-control" name="mobile" placeholder="Your Phone no."
                    value="{{address.mobile}}" />
                </div>
              </div>


              <div class="col-md-6 col-sm-6">
                <div class="form-group bottom35">
                  <label class="bmd-label-floating">City</label>
                  <input type="text" class="form-control" name="city" placeholder="Your City"
                    value="{{address.city}}" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group bottom35">
                  <label class="bmd-label-floating">Country</label>
                  <input type="text" class="form-control" name="country" placeholder="Your Country"
                    value="{{address.country}}" />
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group bottom35">
                  <label class="bmd-label-floating">Postal Code</label>
                  <input type="text" class="form-control" name="postal_code" placeholder="Postal Code"
                    value="{{address.postal_code}}" />
                </div>
              </div>
            </div>
        </div>
        <br>
        <button style="display: block; margin: 0 auto;" type="submit" class="button btnprimary" name="submit">Update
          Address</button>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>
<style>
  .form-control {
    border-radius: 20px;
  }
</style>
{% endfor %}

{% endblock body %}
